<div id="<%= dom_id empresa %>">
  <p>
    <strong>Cnpj:</strong>
    <%= empresa.cnpj %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= empresa.tipo %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= empresa.nome %>
  </p>

  <p>
    <strong>Porte:</strong>
    <%= empresa.porte %>
  </p>

</div>
